.nav {
  display: none;
}

@media (min-width: 50rem) {
  .nav {
    --min-height: 4rem;
    min-height: var(--min-height);
    /* background: yellowgreen; */

    z-index: 13;
    position: fixed;
    transition: all 0.4s;

    width: min(70rem, 90vw);
    margin-inline: auto;
    /* background: red; */
    background: linear-gradient(#0008, transparent);

    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .nav > * {
    flex-basis: 100%;
  }

  .nav > div {
    text-align: right;
  }

  .nav > img {
    width: 80%;
  }

  .nav.hidden {
    transform: translate(-50%, calc(-2rem - var(--min-height)));
  }

  .nav_button_background_container {
    text-align: right;
    /* background: purple; */

    position: relative;
  }

  .nav_button_background {
    display: inline-block;
    text-align: center;
    width: 80%;
    height: calc(var(--min-height) * 0.8);
    /* clip-path: */
    background: rgba(56, 112, 145, 0.75);

    clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%);

    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  .nav_button_background > a {
    /* background: #0808; */
    position: absolute;
    width: 100%;
    left: 0;
    line-height: calc(var(--min-height) * 0.8);

    font-weight: bold;
    font-family: 'Open Sans', Verdana;
    font-size: clamp(1rem, 2vw, 1.6em);
    color: white;
    text-decoration: none;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
  }
}
