.main_sponsor_image {
  max-width: min(30rem, 90vw);
  margin: 0 auto;

  background: white;
  object-fit: contain;

  display: block;

  position: relative;
  /* z-index: 11; */

  border-radius: 1rem;

  /* filter: brightness(40%); */
}

.sponsors {
  max-width: min(70rem, 90vw);
  margin: 0 auto;
}

.sponsor_image {
  max-width: min(30rem, 90vw);
  margin-inline: auto;
  width: 100%;
  background: white;
  object-fit: contain;

  display: block;

  position: relative;
  /* z-index: 11; */

  border-radius: 1rem;

  margin-bottom: 1rem;

  /* filter: brightness(40%); */
}

@media (min-width: 40rem) {
  .sponsors {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 60rem) {
  .sponsors {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    gap: 1rem;
  }
}
